

$default-font-family: "Open Sans", Arial, Helvetica, sans-serf;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}
