@use './functions';

@mixin responsive-image() {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
};

@mixin base-anchor-styles() {
  color: functions.get-color('black');
  text-decoration: none;
}
