@use '../vendor/include-media';

.header {
  width: 100%;
  position: relative;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;

    @include include-media.media('>tablet') {
      width: 90%;
    }
  }
}
