.logo {
  width: 50%;

  a {
    text-decoration: none;
    color: black;
  }

  &__image {
    img {
      @include responsive-image();
    }
  }

  &__text {
    h2 {
      color: green;
      font-family: $default-font-family;
    }
  }
}
